<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Farrot Chatting</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link th:href="@{/css/chat/chat.css}" rel="stylesheet">
  <style>
    #response {
      height: 500px;
    }

    .btn-upload {
      width: 150px;
      height: 30px;
      background: #fff;
      border: 1px solid rgb(77, 77, 77);
      border-radius: 10px;
      font-weight: 500;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: rgb(77, 77, 77);
        color: #fff;
      }
    }

    #file {
      display: none;
    }
  </style>
</head>
<body>
<input type="hidden" th:value="${chatRoomEnterResponse.roomId}" class="room-id">
<input type="hidden" th:value="${chatRoomEnterResponse.senderId}" class="sender-id">
<input type="hidden" th:value="${chatRoomEnterResponse.nickName}" class="nickname">
<input type="hidden" th:value="${chatRoomEnterResponse.email}" class="email">
<input type="hidden" th:value="${chatRoomEnterResponse.productId}" class="product-id">
<div class="wrapper">
  <div class="display-container"
       th:style="'background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('+${publicImageUrl}+');  background-size: cover; background-repeat: no-repeat; background-position: center;'">
    <ul class="chatting-list">

    </ul>
  </div>
  <div class="input-container">
    <span>
      <label for="file">
  <div class="btn-upload">이미지 전송</div>
</label>
<input type="file" name="file" id="file">
    <input type="text" class="chatting-input" autofocus>
    <button class="send-button">전송</button>
    </span>
  </div>
</div>
<script th:src="@{/js/chat/chat.js}"></script>
</body>
</html>
