<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>상품 검색</title>
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

</head>

<body>
<div th:replace="/layout/header :: header"></div>

<section class="shop_grid_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="shop_sidebar_area">
                    <form action="/product/products" method="get">
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-6">
                                <div class="widget size mb-10">
                                    <h4 class="widget-title">카테고리</h4>
                                    <div class="widget-desc">
                                        <ul>
                                            <li>
                                                <a href="#" class="category-item"
                                                   th:href="@{/product/products(categoryId=${null})}"
                                                   th:text="'All Categories'">All Categories</a>
                                            </li>
                                            <li th:each="category : ${categories}">
                                                <input type="checkbox" class="btn-check" autocomplete="off"
                                                       id="category-${category.categoryId}" name="categoryId"
                                                       th:value="${category.id}">
                                                <label for="category-${category.categoryId}"
                                                       th:text="${category.code}"></label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-6">
                                <div class="widget price mb-10">
                                    <h4 class="widget-title">가격대</h4>
                                    <div class="widget-desc">
                                        <div class="slider-range">
                                            <div id="slider-range" data-min="0" data-max="1000000" data-unit="kr"
                                                 data-value-min="0" data-value-max="10000">
                                                <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                                <span class="ui-slider-handle ui-state-default ui-corner-all"
                                                      tabindex="0"></span>
                                                <span class="ui-slider-handle ui-state-default ui-corner-all"
                                                      tabindex="0"></span>
                                            </div>
                                            <div class="range-price">
                                                <input type="hidden" name="minPrice" id="min-price" value="0">
                                                <input type="hidden" name="maxPrice" id="max-price" value="10000000">
                                                Price: <span id="price-range">0 - 1000000</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget search mb-10">
                                    <div class="widget-desc">
                                        <input type="search" class="form-control" name="productName" placeholder="상품 검색">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget search mb-50">
                            <button type="submit" class="btn btn-primary btn-block">검색</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12">
                <div class="shop_grid_product_area">
                    <div class="row justify-content-center">
                        <div class="col-9 col-sm-6 col-md-4 col-lg-3" th:each="product : ${response.productPage}">
                            <div class="single-product-area mb-30">
                                <div class="product_image" style="position: relative;">
                                    <img class="normal_img" th:src="${response.productImages[product.id].get(0).getPath()}" alt="상품 이미지" style="width: 300px; height: 300px;">

                                    <div class="overlay" th:if="${product.productStatus.id == 2}"
                                         style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); color: white; display: flex; justify-content: center; align-items: center; font-size: 1.5rem; font-weight: bold;">
                                        예약중
                                    </div>
                                    <div class="overlay" th:if="${product.productStatus.id == 3}"
                                         style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); color: green; display: flex; justify-content: center; align-items: center; font-size: 1.5rem; font-weight: bold;">
                                        판매완료
                                    </div>
                                </div>
                                <div class="product_description">
                                    <div class="product_add_to_cart">
                                        <form id="enterChatRoom" th:method="POST" th:action="@{/chat-room/enter/{id}(id=${product.id})}" >
                                        </form>
                                        <a href="#" onclick="enterChatRoom()"><i class="icofont-shopping-cart"></i> 채팅하기</a>
                                    </div>
                                    <div class="product_quick_view">
                                        <a th:href="@{/product/product-detail(productId=${product.id})}">
                                            <i class="fa fa-reply"></i> 보러 가기
                                        </a>
                                    </div>
                                    <p class="brand_name" th:text="${product.category.code}">카테고리명</p>
                                    <a th:href="@{/product/product-detail(productId=${product.id})}" th:text="${product.productName}">상품명</a>
                                    <h6 class="product-price" th:text="'₩' + ${product.price}">가격</h6>
                                    <div>
                                        <i class="icofont-eye-alt"></i>
                                        <span th:text="${product.view}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shop_pagination_area mt-30" th:if="${response.productPage.totalElements > 0}">
                    <nav aria-label="Page navigation">
                        <ul class="pagination pagination-sm justify-content-center">
                            <li class="page-item" th:classappend="${response.currentPage == 0} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/product/products(page=${response.currentPage - 1}, size=${response.size}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, productName=${param.productName})}">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li class="page-item" th:if="${response.currentPage > 2}">
                                <a class="page-link"
                                   th:href="@{/product/products(page=${0}, size=${response.size}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, productName=${param.productName})}">1</a>
                            </li>
                            <li class="page-item" th:if="${response.currentPage > 3}">
                                <span class="page-link">...</span>
                            </li>

                            <li class="page-item" th:each="pageNum, stat : ${#numbers.sequence(response.currentPage - 2 > 0 ? response.currentPage - 2 : 0, response.currentPage + 2 < response.productPage.totalPages - 1 ? response.currentPage + 2 : response.productPage.totalPages - 1)}"
                                th:classappend="${pageNum == response.currentPage} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/product/products(page=${pageNum}, size=${response.size}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, productName=${param.productName})}"
                                   th:text="${pageNum + 1}">1</a>
                            </li>

                            <li class="page-item" th:if="${response.currentPage + 3 < response.productPage.totalPages - 1}">
                                <span class="page-link">...</span>
                            </li>
                            <li class="page-item" th:if="${response.currentPage + 2 < response.productPage.totalPages - 1}">
                                <a class="page-link"
                                   th:href="@{/product/products(page=${response.productPage.totalPages - 1}, size=${response.size}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, productName=${param.productName})}"
                                   th:text="${response.productPage.totalPages}">1</a>
                            </li>
                            <li class="page-item" th:classappend="${response.currentPage == response.productPage.totalPages - 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/product/products(page=${response.currentPage + 1}, size=${response.size}, categoryId=${param.categoryId}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, productName=${param.productName})}">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div th:if="${response.productPage.totalElements == 0}">
                    <h1>상품이 없습니다.</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="/layout/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script>
    $(function () {
        $("#slider-range").slider({
            range: true,
            min: 0,
            max: 100000,
            values: [0, 100000],
            step: 100,
            slide: function (event, ui) {
                $("#min-price").val(ui.values[0]);
                $("#max-price").val(ui.values[1]);
                $("#price-range").text(ui.values[0] + "원 - " + ui.values[1] + "원");
            }
        });
        $("#min-price").val($("#slider-range").slider("values", 0));
        $("#max-price").val($("#slider-range").slider("values", 1));
    });
</script>
<script src="/js/chat/enterChat.js"></script>
</body>
</html>
