<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bigshop | Responsive E-commerce Template</title>
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div th:replace="/layout/header :: header"></div>
<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img class="first_img" src="/img/product-img/new-1-back.png" alt="">
                                    <img class="hover_img" src="/img/product-img/new-1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">Boutique Silk Dress</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="price">$120.99 <span>$130</span></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita
                                        quibusdam aspernatur, sapiente consectetur accusantium perspiciatis praesentium
                                        eligendi, in fugiat?</p>
                                    <a href="#">View Full Product Details</a>
                                </div>
                                <form class="cart" method="post">
                                    <div class="quantity">
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="12"
                                               name="quantity" value="1">
                                    </div>
                                    <button type="submit" name="addtocart" value="5" class="cart-submit">Add to cart
                                    </button>
                                    <div class="modal_pro_wishlist">
                                        <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                                    </div>
                                    <div class="modal_pro_compare">
                                        <a href="/compare.html"><i class="icofont-exchange"></i></a>
                                    </div>
                                </form>
                                <div class="share_wf mt-30">
                                    <p>Share with friends</p>
                                    <div class="_icon">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcumb_area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h5>상품 상세</h5>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                    <li class="breadcrumb-item active">Product Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb Area -->

<!-- Single Product Details Area -->
<section class="single_product_details_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                        <!-- Carousel Inner -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="/img/product-img/pd-big-thumb-1.png" title="First Slide">
                                    <img class="d-block w-100" th:src="${productDetail.images.get(0).getPath()}"
                                         alt="First slide">
                                </a>
                                <!-- Product Badge -->
                                <div class="product_badge">
                                    <span class="badge-new">New</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="/img/product-img/pd-big-thumb-2.png" title="Second Slide">
                                    <img class="d-block w-100" src="/img/product-img/pd-big-thumb-2.png"
                                         alt="Second slide">
                                </a>
                                <!-- Product Badge -->
                                <div class="product_badge">
                                    <span class="badge-new">Sale</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="/img/product-img/pd-big-thumb-3.png" title="Third Slide">
                                    <img class="d-block w-100" src="/img/product-img/pd-big-thumb-3.png"
                                         alt="Third slide">
                                </a>
                                <!-- Product Badge -->
                                <div class="product_badge">
                                    <span class="badge-new">-20%</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="/img/product-img/pd-big-thumb-4.png" title="Fourth Slide">
                                    <img class="d-block w-100" src="/img/product-img/pd-big-thumb-4.png"
                                         alt="Fourth slide">
                                </a>
                                <!-- Product Badge -->
                                <div class="product_badge">
                                    <span class="badge-new">Hot</span>
                                </div>
                            </div>
                        </div>

                        <!-- Carosel Indicators -->
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0"
                                style="background-image: url(/img/product-img/pd-big-thumb-1.png);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="1"
                                style="background-image: url(/img/product-img/pd-big-thumb-2.png);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="2"
                                style="background-image: url(/img/product-img/pd-big-thumb-3.png);">
                            </li>
                            <li data-target="#product_details_slider" data-slide-to="3"
                                style="background-image: url(/img/product-img/pd-big-thumb-4.png);">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="single_product_desc">
                    <h1 th:text="${productDetail.productName}">상품명</h1>
                    <p>판매자: <span th:text="${productDetail.sellerName}">판매자명</span></p>
                    <p>카테고리: <span th:text="${productDetail.categoryName}">카테고리</span></p>
                    <div class="short_overview mb-4">
                        <h6>상품 설명</h6>
                        <p th:text="${productDetail.description}"></p>
                    </div>
                    <p>가격: <span th:text="${productDetail.price} + 원">가격</span></p>
                    <p>상태: <span th:text="${productDetail.productStatus}">상태</span></p>
                    <p>등록일: <span th:text="${productDetail.createdAt}">등록일</span></p>
                    <p>조회수: <span th:text="${productDetail.view}">조회수</span></p>
                    <div>
                        <form class="cart clearfix my-5 d-flex flex-wrap align-items-center" th:action="@{/chat-room/enter/{id}(id=${productDetail.productId})}" method="POST">
                            <button type="submit" value="5"
                                    class="btn btn-primary mt-1 mt-md-0 ml-1 ml-md-3">채팅하기
                            </button>
                        </form>
                        <a th:href="@{/product/update-sell(id=${productDetail.productId})}"
                           class="btn btn-primary mt-1 mt-md-0 ml-1 ml-md-3">수정하기</a>
                        <form action="#" th:action="@{/product/delete(id=${productDetail.productId})}" method="post">
                            <button type="submit" class="btn btn-danger mt-1 mt-md-0 ml-1 ml-md-3">삭제하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="you_may_like_area section_padding_0_100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading new_arrivals">
                    <h5>You May Also Like</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="you_make_like_slider owl-carousel">
                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-1-back.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-1.png" alt="">

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Top</p>
                            <a href="#">Boutique Silk Dress</a>
                            <h6 class="product-price">$48.99</h6>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-6.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-6-back.png" alt="">

                            <!-- Product Badge -->
                            <div class="product_badge">
                                <span>New</span>
                            </div>

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Lim</p>
                            <a href="#">Gracia Plaid Dress</a>
                            <h6 class="product-price">$17.63</h6>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-2.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-2-back.png" alt="">

                            <!-- Product Badge -->
                            <div class="product_badge">
                                <span>New</span>
                            </div>

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Sarah</p>
                            <a href="#">Flower Textured Dress</a>
                            <h6 class="product-price">$24 <span>$49</span></h6>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-4.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-4-back.png" alt="">

                            <!-- Product Badge -->
                            <div class="product_badge">
                                <span>New</span>
                            </div>

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Lim</p>
                            <a href="#">Gracia Plaid Dress</a>
                            <h6 class="product-price">$78.24</h6>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-1-back.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-1.png" alt="">

                            <!-- Product Badge -->
                            <div class="product_badge">
                                <span>New</span>
                            </div>

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Top</p>
                            <a href="#">Boutique Silk Dress</a>
                            <h6 class="product-price">$48.99</h6>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-6.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-6-back.png" alt="">

                            <!-- Product Badge -->
                            <div class="product_badge">
                                <span>New</span>
                            </div>

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Lim</p>
                            <a href="#">Gracia Plaid Dress</a>
                            <h6 class="product-price">$17.63</h6>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-2.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-2-back.png" alt="">

                            <!-- Product Badge -->
                            <div class="product_badge">
                                <span>New</span>
                            </div>

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Sarah</p>
                            <a href="#">Flower Textured Dress</a>
                            <h6 class="product-price">$24 <span>$49</span></h6>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-area">
                        <div class="product_image">
                            <!-- Product Image -->
                            <img class="normal_img" src="/img/product-img/new-4.png" alt="">
                            <img class="hover_img" src="/img/product-img/new-4-back.png" alt="">

                            <!-- Product Badge -->
                            <div class="product_badge">
                                <span>New</span>
                            </div>

                            <!-- Wishlist -->
                            <div class="product_wishlist">
                                <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                            </div>

                            <!-- Compare -->
                            <div class="product_compare">
                                <a href="/compare.html"><i class="icofont-exchange"></i></a>
                            </div>
                        </div>

                        <!-- Product Description -->
                        <div class="product_description">
                            <!-- Add to cart -->
                            <div class="product_add_to_cart">
                                <a href="#"><i class="icofont-shopping-cart"></i> Add to Cart</a>
                            </div>

                            <!-- Quick View -->
                            <div class="product_quick_view">
                                <a href="#" data-toggle="modal" data-target="#quickview"><i class="icofont-eye-alt"></i>
                                    Quick View</a>
                            </div>

                            <p class="brand_name">Lim</p>
                            <a href="#">Gracia Plaid Dress</a>
                            <h6 class="product-price">$78.24</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="/layout/footer :: footer"></div>
</body>

</html>