<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bigshop | Responsive E-commerce Template</title>
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <style>
        .single_product_desc {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .product-title {
            font-size: 1.8rem;
            color: #007bff;
            font-weight: bold;
        }

        .seller-info, .category-info, .price-info, .status-info, .created-at-info, .view-info {
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
        }

        .short_overview h6 {
            font-size: 1rem;
            color: #555;
            margin-bottom: 10px;
        }

        .short_overview p {
            font-size: 0.9rem;
            color: #666;
        }

        .price-info span {
            font-size: 1.1rem;
            font-weight: bold;
            color: #28a745;
        }

        .status-info span {
            font-size: 0.9rem;
            padding: 0.2rem 0.5rem;
        }

        .btn-sm {
            padding: 0px 10px;
            font-size: 0.9rem;
            border-radius: 4px;
        }

        .btn {
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #0056b3;
        }


    </style>
</head>

<body>
<div th:replace="/layout/header :: header"></div>
<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img class="first_img" src="/img/product-img/new-1-back.png" alt="">
                                    <img class="hover_img" src="/img/product-img/new-1.png" alt="">
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">Boutique Silk Dress</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="price">$120.99 <span>$130</span></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita
                                        quibusdam aspernatur, sapiente consectetur accusantium perspiciatis praesentium
                                        eligendi, in fugiat?</p>
                                    <a href="#">View Full Product Details</a>
                                </div>
                                <form class="cart" method="post">
                                    <div class="quantity">
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="12"
                                               name="quantity" value="1">
                                    </div>
                                    <button type="submit" name="addtocart" value="5" class="cart-submit">Add to cart
                                    </button>
                                    <div class="modal_pro_wishlist">
                                        <a href="/wishlist.html"><i class="icofont-heart"></i></a>
                                    </div>
                                    <div class="modal_pro_compare">
                                        <a href="/compare.html"><i class="icofont-exchange"></i></a>
                                    </div>
                                </form>
                                <div class="share_wf mt-30">
                                    <p>Share with friends</p>
                                    <div class="_icon">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="breadcumb_area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h5>상품 상세</h5>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index.html">Home</a></li>
                    <li class="breadcrumb-item active">Product Details</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb Area -->

<!-- Single Product Details Area -->
<section class="single_product_details_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                        <!-- 이미지영역 -->
                        <div class="carousel-inner">
                            <div class="carousel-item active single-product-area">
                                <div class="product_image">
                                <a class="gallery_img" th:href="@{${productDetail.images.get(0).getPath()}}"
                                   title="First Slide">
                                    <img class="d-block w-100" th:src="@{${productDetail.images.get(0).getPath()}}"
                                         alt="First slide">

                                    <div class="wish-check product_wish_badge">
                                        <span th:if="${wishResponse.wishType}=='WISH'" class="badge-new"><i class="icofont-heart"></i></span>
                                    </div>

                                    <div id="wish" class="product_wishlist">
                                        <a href="#"><i class="icofont-heart"></i></a>
                                    </div>
                                    <input type="hidden" id="wish-type" th:value="${wishResponse.wishType}">
                                    <script th:inline="javascript">
                                        const wish = document.getElementById('wish');
                                        const wishType = document.getElementById('wish-type');
                                        const wishCheck = document.querySelector('.wish-check')
                                        wish.addEventListener('click',()=>{
                                            console.log('위쉬리스트 클릭')
                                            console.log(wishType.value)
                                            $.ajax({
                                                url:'/wishlist/wish',
                                                contentType: 'application/json',
                                                type:'post',
                                                data:
                                                    JSON.stringify({
                                                        productId:[[${productDetail.productId}]],
                                                        wishType:wishType.value
                                                    }),
                                                success:data=>{
                                                    console.log('성공')
                                                    console.log(data)
                                                    if (data.wishType==='WISH'){
                                                        wishType.value ='WISH'
                                                        wishCheck.innerHTML= '<span class="badge-new"><i class="icofont-heart"></i></span>';
                                                    }else {
                                                        wishType.value ='CANCEL'
                                                        wishCheck.innerHTML='';
                                                    }
                                                },
                                                error:data=>{
                                                    console.log('에러',JSON.parse(data.responseText).message)
                                                }
                                            })
                                        })
                                    </script>
                                </a>
                                </div>
                            </div>
                            <div th:each="image, iterStat : ${productDetail.images}">
                                <div class="carousel-item" th:if="${iterStat.index > 0}">
                                    <a class="gallery_img" th:href="@{${image.getPath()}}" title="Slide">
                                        <img class="d-block w-100" th:src="@{${image.getPath()}}" alt="Slide">
                                    </a>
                                </div>
                            </div>

                        </div>

                        <!-- 작은 이미지 영역 -->
                        <ol class="carousel-indicators">
                            <li class="active" data-target="#product_details_slider" data-slide-to="0"
                                th:style="'background-image: url(' + @{${productDetail.images.get(0).getPath()}} + ');'">
                            </li>

                            <li th:each="image, iterStat : ${productDetail.images}"
                                th:if="${iterStat.index > 0 && iterStat.index <= 3}"
                                data-target="#product_details_slider" th:data-slide-to="${iterStat.index}"
                                th:style="'background-image: url(' + @{${image.getPath()}} + ');'">
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="single_product_desc card p-4 shadow-sm">
                    <h1 th:text="${productDetail.productName}" class="product-title mb-3 text-primary font-weight-bold">상품명</h1>

                    <p class="seller-info mb-2">
                        <strong>판매자:</strong>
                        <span th:text="${productDetail.sellerName}" class="text-muted">판매자명</span>
                    </p>

                    <p class="category-info mb-2">
                        <strong>카테고리:</strong>
                        <span th:text="${productDetail.categoryName}" class="text-muted">카테고리</span>
                    </p>

                    <div class="short_overview mb-4">
                        <h6 class="font-weight-bold">상품 설명</h6>
                        <p th:text="${productDetail.description}" class="text-muted"></p>
                    </div>

                    <p class="price-info mb-2">
                        <strong>가격:</strong>
                        <span th:text="${productDetail.price} + ' 원'" class="text-success">가격</span>
                    </p>

                    <p class="status-info mb-2">
                        <strong>상태:</strong>
                        <span th:text="${productDetail.productStatus}" class="badge badge-info">판매중</span>
                    </p>

                    <p class="created-at-info mb-2">
                        <strong>등록시간:</strong>
                        <span th:text="${productDetail.createdAt}" class="text-muted">등록시간</span>
                    </p>

                    <p class="view-info mb-2">
                        <strong>조회수:</strong>
                        <span th:text="${productDetail.view}" class="text-muted">조회수</span>
                    </p>

                    <div class="d-flex flex-wrap justify-content-start align-items-center mt-4">
                        <form class="cart clearfix d-flex align-items-center"
                              th:action="@{/chat-room/enter/{id}(id=${productDetail.productId})}" method="POST">
                            <button type="submit" value="5" class="btn btn-secondary btn-sm mx-1">채팅하기</button>
                        </form>

                        <form th:action="@{/payment/init-payment}" method="post">
                            <input type="hidden" name="productId" th:value="${productDetail.productId}"/>
                            <input type="hidden" name="amount" th:value="${productDetail.price}"/>
                            <button type="submit" class="btn btn-success btn-sm mx-1">안전거래</button>
                        </form>

                        <a th:href="@{/product/update-sell(id=${productDetail.productId})}"
                           class="btn btn-warning btn-sm mx-1">수정하기</a>

                        <form th:action="@{/product/delete(id=${productDetail.productId})}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm mx-1">삭제하기</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="you_may_like_area section_padding_0_100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading new_arrivals">
                    <h5>추천 상품</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="you_make_like_slider owl-carousel">
                    <div class="single-product-area" th:each="product : ${response.productPage}">
                        <div class="product_image">
                            <img class="normal_img" th:src="${response.productImages[product.id].get(0).getPath()}"
                                 alt="상품 이미지" style="width: 300px; height: 300px;">
                        </div>
                        <div class="product_description">
                            <div class="product_add_to_cart">
                                <form id="enterChatRoom" th:method="POST"
                                      th:action="@{/chat-room/enter/{id}(id=${product.id})}">
                                </form>
                                <a href="#" onclick="enterChatRoom()"><i class="icofont-shopping-cart"></i> 채팅하기</a>
                            </div>
                            <div class="product_quick_view">
                                <a th:href="@{/product/product-detail(productId=${product.id})}">
                                    <i class="fa fa-reply"></i> 보러 가기
                                </a>
                            </div>
                            <p class="brand_name" th:text="${product.category.code}">카테고리명</p>
                            <a th:href="@{/product/product-detail(productId=${product.id})}"
                               th:text="${product.productName}">상품명</a>
                            <h6 class="product-price" th:text="'₩' + ${product.price}">가격</h6>
                            <div>
                                <i class="icofont-eye-alt"></i>
                                <span th:text="${product.view}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="/layout/footer :: footer"></div>
</body>

</html>