<div style="text-align: center;" id="weatherApp">
    <div class="nowtime">지금</div> <!-- Now the date is displayed at the top -->

    <div style="text-align: center;" class="weather-box">
        <h3>서울</h3>
        <div class="weather-info">
            <div class="weather-icon"></div>
            <h3 class="SeoulNowtemp">현재 기온: </h3>
            <h3 class="SeoulLowtemp">최저 기온: </h3>
            <h3 class="SeoulHightemp">최대 기온: </h3>
        </div>
    </div>

    <div class="error-message">날씨 정보를 가져오는 데 실패했습니다. 잠시 후 다시 시도해 주세요.</div>
</div>