<header class="header_area">
  <script type="module">
    import {initializeApp} from "https://www.gstatic.com/firebasejs/10.13.1/firebase-app.js";
    import {
      getMessaging,
      getToken,
      onMessage
    } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-messaging.js";

    const firebaseFcm = (
        () => {
          async function init() {
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/firebase-messaging-sw.js')
                .then(() => {
                  const firebaseConfig = {
                    apiKey: "",
                    authDomain: "",
                    projectId: "",
                    storageBucket: "",
                    messagingSenderId: "",
                    appId: "",
                    measurementId: ""
                  };

                  const app = initializeApp(firebaseConfig);
                  const message = getMessaging(app);
                  Notification.requestPermission().then(permission => {
                    if (permission === 'granted') {
                      console.log('허용된 곳에 들어옴')
                      new Notification('알림 권한이 허용되었습니다!', {body: '푸시 알림이 활성화되었습니다.'})
                      return getToken(message, {
                        vapidKey: ""
                      })
                      .then(async function (token) {
                        console.log(`푸쉬 토큰 발급 완료 : ${token}`);
                        await fetch('/notification/register', {
                          method: 'post',
                          body: token
                        })
                        onMessage(message, payload => {
                          console.log('message received!!!!', payload);
                          const notificationTitle = payload.notification.title;
                          const notificationOptions = {
                            body: payload.notification.body,
                            icon: '/default-icon.png'
                          }
                          if (Notification.permission === 'granted') {
                            new Notification(notificationTitle, notificationOptions);
                          }
                        })
                      })
                      .catch((error) => {
                        console.log('푸시 토큰 가져오는 중에 에러 발생', error)
                      })
                    } else {
                      console.log('푸시 알림 거부됨');
                    }
                  })
                  .catch((error) => {
                    console.error('Firebase 토큰 가져오기 실패:', error);
                  });
                });
              })
            }
          }

          return {
            init: function () {
              init()
            }
          }
        })()
    firebaseFcm.init()
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <div class="bigshop-main-menu">
    <div class="container">
      <div class="classy-nav-container breakpoint-off">
        <nav class="classy-navbar" id="bigshopNav">
          <a href="/" class="nav-brand"><img src="/img/core-img/logo.png" alt="logo"></a>
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>
          <div class="classy-menu">
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>
            <div class="classynav">
              <ul>
                <li><a href="/">홈</a>
                </li>
                <li><a href="#">내정보</a>
                  <ul class="dropdown">
                    <li><a href="/member/register">회원가입</a></li>
                    <li><a href="/member/login">로그인</a>
                    <li><a href="/chat-room/rooms">채팅방</a></li>
                    <li><a href="#">찜목록</a></li>
                    <li><a href="/member/detail">마이페이지</a></li>
                  </ul>
                </li>
                <li><a href="/product/products">카테고리</a>
                  <div class="megamenu">
                    <ul class="single-mega cn-col-4">
                      <li><a href="/product/products?categoryId=1">패션 의류</a></li>
                      <li><a href="/product/products?categoryId=2">패션 잡화</a></li>
                      <li><a href="/product/products?categoryId=3">뷰티</a></li>
                      <li><a href="/product/products?categoryId=4">출산/유아동</a></li>
                      <li><a href="/product/products?categoryId=5">모바일/태블릿</a></li>
                      <li><a href="/product/products?categoryId=6">가전제품</a></li>
                    </ul>
                    <ul class="single-mega cn-col-4">
                      <li><a href="/product/products?categoryId=7">노트북/PC</a></li>
                      <li><a href="/product/products?categoryId=8">카메라/캠코더</a></li>
                      <li><a href="/product/products?categoryId=9">가구/인테리어</a></li>
                      <li><a href="/product/products?categoryId=10">리빙/생활</a></li>
                      <li><a href="/product/products?categoryId=11">게임</a></li>
                      <li><a href="/product/products?categoryId=12">반려동물/취미</a></li>
                    </ul>
                    <ul class="single-mega cn-col-4">
                      <li><a href="/product/products?categoryId=13">도서/음반</a></li>
                      <li><a href="/product/products?categoryId=14">티켓/쿠폰</a></li>
                      <li><a href="/product/products?categoryId=15">스포츠</a></li>
                      <li><a href="/product/products?categoryId=16">레저/여행</a></li>
                      <li><a href="/product/products?categoryId=17">오토바이</a></li>
                      <li><a href="/product/products?categoryId=18">공구/산업용품</a></li>
                    </ul>
                    <div class="single-mega cn-col-2">
                      <div class="megamenu-slides owl-carousel">
                        <a href="shop-grid-left-sidebar.html">
                          <img src="/img/bg-img/mega-slide-2.jpg" alt="">
                        </a>
                        <a href="shop-list-left-sidebar.html">
                          <img src="/img/bg-img/mega-slide-1.jpg" alt="">
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
                <li><a href="/product/register-sell">판매하기</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
          </div>

          <!-- Hero Meta -->
          <div class="hero_meta_area ml-auto d-flex align-items-center justify-content-end">
            <!-- Search -->
            <div class="search-area">
              <div class="search-btn"><i class="icofont-search"></i></div>
              <!-- Form -->
              <div class="search-form">
                <input type="search" class="form-control" placeholder="Search">
                <input type="submit" class="d-none" value="Send">
              </div>
            </div>

            <!-- Wishlist -->
            <div class="cart-area">
              <div id="read-count" class="cart--btn">
                <span class="cart_quantity read-count"></span>
                <script th:inline="javascript">
                  $.ajax({
                    url: '/chat-room/notification',
                    type: 'get',
                    success: data => {

                      const notificationSpan = document.querySelector('.read-count')
                      notificationSpan.textContent = data.readCount
                      const spanDiv = document.getElementById('read-count')
                      spanDiv.append(notificationSpan)
                    },
                    error: data => {
                      console.log("실패", data)
                    }
                  })
                </script>
                <a th:href="@{/chat-room/rooms}"><i class="icofont-heart"></i></a>
              </div>

              <!-- Cart Dropdown Content -->
              <div class="cart-dropdown-content">
                <ul class="cart-list">
                  <li>
                    <div class="cart-item-desc">
                      <a href="#" class="image">
                        <img src="/img/product-img/top-1.png" class="cart-thumb" alt="">
                      </a>
                      <div>
                        <a th:href="@{/notification/list}" href=>Kid's Fashion</a>
                        <p>1 x - <span class="price">$32.99</span></p>
                      </div>
                    </div>
                    <span class="dropdown-product-remove"><i class="icofont-bin"></i></span>
                  </li>
                </ul>
              </div>
            </div>

            <!-- Cart -->
            <div class="cart-area">
              <div class="cart--btn"><i class="icofont-cart"></i> <span
                  class="cart_quantity">2</span>
              </div>

              <!-- Cart Dropdown Content -->
              <div class="cart-dropdown-content">
                <ul class="cart-list">
                  <li>
                    <div class="cart-item-desc">
                      <a href="#" class="image">
                        <img src="/img/product-img/top-1.png" class="cart-thumb" alt="">
                      </a>
                      <div>
                        <a href="#">Kid's Fashion</a>
                        <p>1 x - <span class="price">$32.99</span></p>
                      </div>
                    </div>
                    <span class="dropdown-product-remove"><i class="icofont-bin"></i></span>
                  </li>
                  <li>
                    <div class="cart-item-desc">
                      <a href="#" class="image">
                        <img src="/img/product-img/best-4.png" class="cart-thumb" alt="">
                      </a>
                      <div>
                        <a href="#">Headphone</a>
                        <p>2x - <span class="price">$49.99</span></p>
                      </div>
                    </div>
                    <span class="dropdown-product-remove"><i class="icofont-bin"></i></span>
                  </li>
                </ul>
                <div class="cart-pricing my-4">
                  <ul>
                    <li>
                      <span>Sub Total:</span>
                      <span>$822.96</span>
                    </li>
                    <li>
                      <span>Shipping:</span>
                      <span>$30.00</span>
                    </li>
                    <li>
                      <span>Total:</span>
                      <span>$856.63</span>
                    </li>
                  </ul>
                </div>
                <div class="cart-box">
                  <a href="checkout-1.html" class="btn btn-primary d-block">Checkout</a>
                </div>
              </div>
            </div>

            <!-- Account -->
            <div class="account-area">
              <div class="user-thumbnail">
                <img src="/img/bg-img/user.jpg" alt="">
              </div>
              <ul class="user-meta-dropdown">
                <li class="user-title"><span>Hello,</span> Lim Sarah</li>
                <li><a href="my-account.html">My Account</a></li>
                <li><a href="order-list.html">Orders List</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
                <li><a href="/member/logout"><i class="icofont-logout"></i> Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>