<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bigshop | Responsive E-commerce Template</title>
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<div th:replace="/layout/header :: header"></div>


<section class="welcome_area">
    <div class="welcome_slides owl-carousel">
        <div class="single_slide bg-img" style="background-color: white;">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-7 col-md-8">
                        <div class="welcome_slide_text">
                            <h2 data-animation="fadeInUp" data-delay="300ms">사용하던 소셜 계정으로<br> 패럿을 즐겨요</h2>
                        </div>
                    </div>
                    <div class="col-5 col-md-4">
                        <div class="welcome_slide_image">
                            <img src="img/bg-img/slide1.jpg" alt="" data-animation="bounceInUp" data-delay="500ms">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Single Slide -->
        <div class="single_slide bg-img" style="background-color: white;">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-7 col-md-8">
                        <div class="welcome_slide_text">
                            <h2 data-animation="fadeInUp" data-delay="300ms">언제든지 채팅으로 거래해요</h2>
                        </div>
                    </div>
                    <div class="col-5 col-md-4">
                        <div class="welcome_slide_image">
                            <img src="img/bg-img/slide2.jpg" alt="" data-animation="bounceInUp" data-delay="500ms">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Welcome Slides Area -->

<!-- Top Catagory Area -->
<div class="top_catagory_area mt-50 clearfix">
    <div class="container">
        <div class="search-area mt-50">
            <form action="/product/search" method="get" class="search-form">
                <div class="input-group">
                    <input type="search" name="productName" class="form-control" placeholder="상품 이름을 검색하세요" required>
                    <input type="hidden" name="page" value="0">
                    <input type="hidden" name="size" value="10">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <i class="icofont-search"></i> 검색
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Top Catagory Area -->

<!-- Quick View Modal Area -->
<div class="modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="quickview" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <div class="quickview_body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-5">
                                <div class="quickview_pro_img">
                                    <img class="first_img" src="img/product-img/new-1-back.png" alt="">
                                    <img class="hover_img" src="img/product-img/new-1.png" alt="">
                                    <!-- Product Badge -->
                                    <div class="product_badge">
                                        <span class="badge-new">New</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-7">
                                <div class="quickview_pro_des">
                                    <h4 class="title">Boutique Silk Dress</h4>
                                    <div class="top_seller_product_rating mb-15">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <h5 class="price">$120.99 <span>$130</span></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia expedita
                                        quibusdam aspernatur, sapiente consectetur accusantium perspiciatis praesentium
                                        eligendi, in fugiat?</p>
                                    <a href="#">View Full Product Details</a>
                                </div>
                                <!-- Add to Cart Form -->
                                <form class="cart" method="post">
                                    <div class="quantity">
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="12"
                                               name="quantity" value="1">
                                    </div>
                                    <button type="submit" name="addtocart" value="5" class="cart-submit">Add to cart
                                    </button>
                                    <!-- Wishlist -->
                                    <div class="modal_pro_wishlist">
                                        <a href="wishlist.html"><i class="icofont-heart"></i></a>
                                    </div>
                                    <!-- Compare -->
                                    <div class="modal_pro_compare">
                                        <a href="compare.html"><i class="icofont-exchange"></i></a>
                                    </div>
                                </form>
                                <!-- Share -->
                                <div class="share_wf mt-30">
                                    <p>Share with friends</p>
                                    <div class="_icon">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Quick View Modal Area -->

<!-- New Arrivals Area -->
<section class="new_arrivals_area section_padding_100 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_heading new_arrivals">
                    <h5>추천 상품</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="you_make_like_slider owl-carousel">
                    <div class="single-product-area" th:each="product : ${response.productPage}">
                        <div class="product_image">
                            <img class="normal_img" th:src="${response.productImages[product.id].get(0).getPath()}"
                                 alt="상품 이미지" style="width: 300px; height: 300px;">
                        </div>
                        <div class="product_description">
                            <div class="product_add_to_cart">
                                <form id="enterChatRoom" th:method="POST"
                                      th:action="@{/chat-room/enter/{id}(id=${product.id})}">
                                </form>
                                <a href="#" onclick="enterChatRoom()"><i class="icofont-shopping-cart"></i> 채팅하기</a>
                            </div>
                            <div class="product_quick_view">
                                <a th:href="@{/product/product-detail(productId=${product.id})}">
                                    <i class="fa fa-reply"></i> 보러 가기
                                </a>
                            </div>
                            <p class="brand_name" th:text="${product.category.code}">카테고리명</p>
                            <a th:href="@{/product/product-detail(productId=${product.id})}"
                               th:text="${product.productName}">상품명</a>
                            <h6 class="product-price" th:text="'₩' + ${product.price}">가격</h6>
                            <div>
                                <i class="icofont-eye-alt"></i>
                                <span th:text="${product.view}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- New Arrivals Area -->

<!-- Featured Products Area -->
<section class="featured_product_area">
    <div class="container">
        <div class="row">
            <!-- Featured Offer Area -->
            <div class="col-12 col-lg-6">
                <div class="featured_offer_area d-flex align-items-center">
                    <img src="/img/bg-img/farrotimage.jpg">
                </div>
            </div>

            <!-- Featured Product Area -->
            <div class="col-12 col-lg-6">
                <div class="section_heading featured">
                    <h5>새로운 상품</h5>
                </div>
                <div class="featured_product_slides owl-carousel">
                    <div class="single-product-area" th:each="product : ${responseT.productPage}">
                        <div class="product_image">
                            <img class="normal_img" th:src="${responseT.productImages[product.id].get(0).getPath()}"
                                 alt="상품 이미지" style="width: 300px; height: 300px;">
                        </div>
                        <div class="product_description">
                            <div class="product_add_to_cart">
                                <form th:method="POST"
                                      th:action="@{/chat-room/enter/{id}(id=${product.id})}">
                                </form>
                                <a href="#" onclick="enterChatRoom()"><i class="icofont-shopping-cart"></i> 채팅하기</a>
                            </div>
                            <div class="product_quick_view">
                                <a th:href="@{/product/product-detail(productId=${product.id})}">
                                    <i class="fa fa-reply"></i> 보러 가기
                                </a>
                            </div>
                            <p class="brand_name" th:text="${product.category.code}">카테고리명</p>
                            <a th:href="@{/product/product-detail(productId=${product.id})}"
                               th:text="${product.productName}">상품명</a>
                            <h6 class="product-price" th:text="'₩' + ${product.price}">가격</h6>
                            <div>
                                <i class="icofont-eye-alt"></i>
                                <span th:text="${product.view}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured Products Area -->

<div th:replace="/layout/footer :: footer"></div>

</body>
</html>