.dashboard-widget-content {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 270px; /* 고정 높이 */
}

.col-md-4 {
    width: 100%; /* 고정 너비를 부모의 100%로 변경 */
    max-width: 1597px; /* 최대 너비 제한 */
    height: 100%; /* 부모 요소에 맞게 크기 조정 */
}

.countries_list {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    height: 100%; /* 부모의 높이에 맞게 설정 */
    margin: 0; /* 기본 마진 제거 */
}

canvas {
    max-width: 100%; /* 부모 요소에 맞게 크기 조정 */
    max-height: 100%; /* 부모 요소에 맞게 크기 조정 */
}
