<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bigshop | Responsive E-commerce Template</title>
    <link rel="icon" href="/img/core-img/favicon.ico">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div th:replace="/layout/header :: header"></div>

<div class="breadcumb_area">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <h5>안전거래</h5>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">안전거래 구매목록</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Cart Area -->
<div class="cart_area section_padding_100_70 clearfix">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-4">안전결제 구매 내역</h3>
                    </div>
                </div>
                <div class="cart-table">
                    <div class="table-responsive">
                        <table class="table table-bordered mb-30">
                            <thead>
                            <tr>
                                <th scope="col">주문번호</th>
                                <th scope="col">상품명</th>
                                <th scope="col">상품금액</th>
                                <th scope="col">거래일</th>
                                <th scope="col">비고</th>
                                <th scope="col">구매확정</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="payment : ${payments}">
                                <td th:text="${payment.merchantUid}">주문번호</td>
                                <td th:text="${payment.product.productName}">상품명</td>
                                <td th:text="${payment.product.price} + '원'">결제금액</td>
                                <td th:text="${#dates.format(payment.createdAt, 'yyyy-MM-dd HH:mm')}">거래일</td>
                                <td>
                                    <span th:switch="${payment.paymentStatus.paymentStatusId}">
                                        <span th:case="1">운송장 등록중</span>
                                         <span th:case="2">
                                            <form action="http://localhost:9090/shipping/track-shipment" method="post">
                                                <input type="hidden" name="merchantUid"
                                                       th:value="${payment.merchantUid}"/>
                                                <button type="submit" class="btn btn-secondary">배송중</button>
                                            </form>
                                        </span>
                                        <span th:case="3">
                                            <form action="http://localhost:9090/shipping/track-shipment" method="post">
                                                <input type="hidden" name="merchantUid"
                                                       th:value="${payment.merchantUid}"/>
                                                <button type="submit" class="btn btn-info">배송완료</button>
                                            </form>
                                        </span>
                                        <span th:case="4">정산완료</span>
                                        <span th:case="5">환불완료</span>
                                    </span>
                                </td>
                                <td>
                                     <span th:if="${payment.paymentStatus.paymentStatusId == 3}">
                                        <form th:action="@{/payment/confirm-purchase}" method="post">
                                            <input type="hidden" name="merchantUid" th:value="${payment.merchantUid}"/>
                                            <input type="hidden" name="paymentId" th:value="${payment.paymentId}"/>
                                            <button type="submit" class="btn btn-success">구매확정</button>
                                        </form>
                                    </span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script>
    $('#logisModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var paymentId = button.data('id');
        var modal = $(this);
        modal.find('#paymentId').val(paymentId);
    });
</script>
<div th:replace="/layout/footer :: footer"></div>
</body>

</html>
